<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>DirectionServlet</servlet-name>
        <servlet-class>com.neu.edu.servlet.DirectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>com.neu.edu.servlet.MovieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DirectionServlet</servlet-name>
        <url-pattern>/DirectionServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/MovieServlet</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>movies</web-resource-name>
            <url-pattern>/</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>manager-gui</role-name>
            <role-name>manager-script</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>manager-gui</role-name>
        <role-name>manager-script</role-name>
    </security-role>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Authorized Users Only</realm-name>
    </login-config>

</web-app>